* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgb(115, 2, 47);
    border-bottom: 0px solid #333333;
    padding: 10px 0;
    min-height: 60px;
}


#workspaces, #cpu, #memory, #disk, #temperature, #network, #battery, #clock {
    background-color: #fa0567;
    color: white;
    border-radius: 4px;
    padding: 0 10px;
    margin: 10px 4px;
    border-bottom: 0px solid #b30464
}

#workspaces button {
    color: white;
    padding: 0 5px;
    background-color: transparent;
}

#workspacees button.active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

